div.gui_tabs_AgmuP {
  background-color: #434343;
}

.blocklySvg {
  background-color: #434343;
}

.blocklyToolboxDiv {
  background-color: #434343;
}

.scratchCategoryMenu {
  background-color: #434343;
}

.scratchCategoryMenuItem {
  background-color: #434343;
}

.categorySelected {
  background-color: #505050;
}

.scratchCategoryMenuItemLabel {
  color: whitesmoke;
}

div.menu-bar_main-menu_3wjWH {
  background-color: #073763;
}

li.react-tabs_react-tabs__tab_3Nn-X.gui_tab_27Unf {
  background-color: #333333;
  border-color: #202020;
}

li.react-tabs_react-tabs__tab_3Nn-X.gui_tab_27Unf.react-tabs_react-tabs__tab--selected_EW0CL.gui_is-selected_sHAiu {
  background-color: #444444;
  border-color: #303030;
}

span {
  color: whitesmoke;
}

div.gui_stage-and-target-wrapper_69KBf.box_box_2jjDp {
  background-color: #434343;
}

div.backpack_backpack-container_2_wGr {
  background-color: #434343;
}

div.backpack_backpack-header_6ltCS {
  background-color: #434343;
}

div.account-nav_user-info_2We7v.menu-bar_menu-bar-item_oLDa-.menu-bar_hoverable_c6WFB {
  background-color: #073763;
}

div.menu-bar_menu-bar-item_oLDa- {
  background-color: #073763;
}