div.gui_tabs_AgmuP {
  background-color: #434343;
}

.blocklySvg {
  background-color: #434343;
}

.blocklyToolboxDiv {
  background-color: #434343;
}

.scratchCategoryMenu {
  background-color: #434343;
}

.scratchCategoryMenuItem {
  background-color: #434343;
}

.categorySelected {
  background-color: #505050;
}

.scratchCategoryMenuItemLabel {
  color: whitesmoke;
}

div.menu-bar_main-menu_3wjWH {
  background-color: #073763;
}
